# Authoring Headless service, needed for stable DNS entries of StatefulSet members.
apiVersion: v1
kind: Service
metadata:
  name: authoring-service-headless
spec:
  clusterIP: None
  selector:
    component: authoring
  ports:
    - name: http
      port: 8080
      targetPort: 8080
---
# Authoring non-headless service (mainly for SSH/HTTPS Git access from Delivery)
apiVersion: v1
kind: Service
metadata:
  name: authoring-service
spec:
  selector:
    component: authoring
  ports:
    # Uncomment if using the Git SSH server instead of the Git HTTPS server
    # - name: git-ssh
    #   port: 22
    #   targetPort: 22
    - name: git-https
      port: 443
      targetPort: 443
---
# Authoring Deployment
apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: authoring
spec:
  serviceName: authoring-service-headless
  replicas: 1
  selector:
    matchLabels:
      component: authoring
  volumeClaimTemplates:
    - metadata:
        name: data
      spec:
        accessModes: [ "ReadWriteOnce" ]
        resources:
          requests:
            storage: 10Gi
  template:
    metadata:
      labels:
        component: authoring
    spec:
      volumes:
        # Uncomment if using the Git SSH server instead of the Git HTTPS server
        # - name: ssh-keys
        #   secret:
        #     secretName: ssh-keys
        - name: git-https-server-cert-files
          secret:
            secretName: git-https-server-cert-files
        - name: temp
          emptyDir: {}
        - name: logs
          emptyDir: {}
      containers:
        # Elasticsearch container for internal authoring/preview search
        - name: elasticsearch
          image: docker.elastic.co/elasticsearch/elasticsearch:6.8.6
          readinessProbe:
            httpGet:
              path: /_cat/nodes?h=uptime
              port: 9200
            initialDelaySeconds: 15
            periodSeconds: 10
          livenessProbe:
            httpGet:
              path: /_cat/nodes?h=uptime
              port: 9200
            initialDelaySeconds: 60
            periodSeconds: 10
          ports:
            - containerPort: 9200
          volumeMounts:
            - name: data
              subPath: indexes-es
              mountPath: /usr/share/elasticsearch/data
            - name: logs
              subPath: elasticsearch
              mountPath: /usr/share/elasticsearch/logs
          env:
            - name: discovery.type
              value: single-node
            - name: bootstrap.memory_lock
              value: "true"
            - name: ES_JAVA_OPTS
              value: "-server -Xss1024K -Xmx2G -Dlog4j2.formatMsgNoLookups=true"
        # Tomcat container
        - name: tomcat
          image: craftercms/authoring_tomcat:3.1.17.4
          imagePullPolicy: "Always"
          readinessProbe:
            httpGet:
              path: /studio/api/2/monitoring/status.json?token=defaultManagementToken
              port: 8080
            initialDelaySeconds: 60
            failureThreshold: 55
            periodSeconds: 10
          livenessProbe:
            httpGet:
              path: /studio/api/2/monitoring/status.json?token=defaultManagementToken
              port: 8080
            initialDelaySeconds: 600
            failureThreshold: 10
            timeoutSeconds: 60
            periodSeconds: 60
          ports:
            - containerPort: 8080
          volumeMounts:
            - name: data
              mountPath: /opt/crafter/data
            - name: temp
              mountPath: /opt/crafter/temp
            - name: logs
              mountPath: /opt/crafter/logs
          env:
            - name: CATALINA_OPTS
              value: "-server -Xss1024K -Xms2G -Xmx4G -Dlog4j2.formatMsgNoLookups=true" 
        # Deployer container
        - name: deployer
          image: craftercms/deployer:3.1.17.4
          readinessProbe:
            httpGet:
              path: /api/1/monitoring/status?token=defaultManagementToken
              port: 9191
            initialDelaySeconds: 30
            failureThreshold: 16
            periodSeconds: 10
          livenessProbe:
            httpGet:
              path: /api/1/monitoring/status?token=defaultManagementToken
              port: 9191
            initialDelaySeconds: 180
            failureThreshold: 10
            timeoutSeconds: 60
            periodSeconds: 60  
          ports:
            - containerPort: 9191
          volumeMounts:
            # Uncomment if using the Git SSH server instead of the Git HTTPS server
            # - name: ssh-keys
            #   mountPath: /opt/crafter/.ssh
            #   readOnly: true
            - name: data
              mountPath: /opt/crafter/data
            - name: temp
              mountPath: /opt/crafter/temp
            - name: logs
              mountPath: /opt/crafter/logs
          env:
            - name: DEPLOYER_JAVA_OPTS
              value: "-server -Xss1024K -Xmx2G -Dlog4j2.formatMsgNoLookups=true"
        # Uncomment if using the Git SSH server instead of the Git HTTPS server
        # Git SSH server container
        # - name: git-ssh-server
        #   image: craftercms/git_ssh_server:3.1.17.4
        #   imagePullPolicy: "Always"
        #   ports:
        #     - containerPort: 22
        #   volumeMounts:
        #     - name: ssh-keys
        #       mountPath: /opt/crafter/.ssh
        #       readOnly: true
        #     - name: data
        #       mountPath: /opt/crafter/data
        # Git HTTPS server container
        - name: git-https-server
          image: craftercms/git_https_server:3.1.17.4
          imagePullPolicy: "Always"
          ports:
            - containerPort: 443
          volumeMounts:
            - name: git-https-server-cert-files
              subPath: server.crt
              mountPath: /usr/local/apache2/conf/server.crt
              readOnly: true
            - name: git-https-server-cert-files
              subPath: server.key
              mountPath: /usr/local/apache2/conf/server.key
              readOnly: true
            - name: data
              mountPath: /opt/crafter/data
          env:
            - name: GIT_USERNAME
              valueFrom:
                secretKeyRef:
                  name: git-https-server-credentials
                  key: username
            - name: GIT_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: git-https-server-credentials
                  key: password