# Add a http.*.sslVerify section for every node in the cluster
# The format of a node URL is: https://{pod-name}.{service-name}.{namespace}.svc.cluster.local/
[http "https://authoring-0.authoring-service-headless.default.svc.cluster.local/"]
	sslVerify = false

[http "https://authoring-1.authoring-service-headless.default.svc.cluster.local/"]
	sslVerify = false
